<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ad
      perspiciatis maxime quo consectetur? Suscipit officiis, expedita iusto
      nobis corrupti neque quo ullam quasi similique, tempore voluptates at,
      natus unde!
    </p>

    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Zartab Nakhwa</h3>
          <p class="quote__organization">
           Code With Z
          </p>
        </div>
      </div>
      
    </footer>
  </blockquote>